<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="mediaframework_brightcove_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>

            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/media library/Media Framework</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="id" returnType="string" />
              <field fieldName="name" returnType="string" />
              <field fieldName="referenceid" returnType="string" />
              <field fieldName="thumbnailurl" returnType="string" />
              <field fieldName="shortdescription" returnType="string" />
              <field fieldName="creationdate" returnType="string" />
              <field fieldName="longdescription" returnType="string" />
              <field fieldName="publisheddate" returnType="string" />
              <field fieldName="lastmodifieddate" returnType="string" />
              <field fieldName="economics" returnType="string" />
              <field fieldName="linkurl" returnType="string" />
              <field fieldName="linktext" returnType="string" />
              <field fieldName="tags" returnType="string" />
              <field fieldName="videostillurl" returnType="string" />
              <field fieldName="filtertags" returnType="string" />
              <field fieldName="taginclusion" returnType="string" />
              <field fieldName="playlisttype" returnType="string" />
              <field fieldName="thumbnailoverride" returnType="string" />
              <field fieldName="videoids" returnType="string" />
              <field fieldName="accountid" returnType="string" />
              <field fieldName="autostart" returnType="string" />
              <field fieldName="backgroundcolor" returnType="string" />
              <field fieldName="wmode" returnType="string" />
              <field fieldName="width" returnType="string" />
              <field fieldName="height" returnType="string" />
              <field fieldName="customfields" returnType="string" />
            </fieldNames>

            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="readonlycheckbox" returnType="string"    />
              <fieldType fieldTypeName="readonlytext"  returnType="string"    />
            </fieldTypes>
          </fieldMap>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
