<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="mediaframework_brightcove_oauth" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://oauth.brightcove.com/v3</baseUrl>

        <jsonSerializer type="Brightcove.MediaFramework.Brightcove.Serialization.JsonNetSerializer, Brightcove.MediaFramework.Brightcove"/>

        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <create name="access_token"  url="/access_token" method="POST" />
          </requests>
        </requestProvider>

      </service>

      <service name="mediaframework_brightcove_cms" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://cms.api.brightcove.com/v1</baseUrl>

        <jsonSerializer type="Brightcove.MediaFramework.Brightcove.Serialization.JsonNetSerializer, Brightcove.MediaFramework.Brightcove"/>

        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <create name="create_video"  url="/accounts/{account_id}/videos" method="POST" />
            <update name="update_video"  url="/accounts/{account_id}/videos/{video_id}" method="PATCH" />
            <delete name="delete_video" url="/accounts/{account_id}/videos/{video_id}" method="DELETE" />

            <create name="create_playlist"  url="/accounts/{account_id}/playlists" method="POST" />
            <update name="update_playlist"  url="/accounts/{account_id}/playlists/{playlist_id}" method="PATCH" />
            <delete name="delete_playlist" url="/accounts/{account_id}/playlists/{playlist_id}" method="DELETE" />

            <read name="read_video_by_id" url="/accounts/{account_id}/videos/{video_id}"/>
            <read name="read_video_sources_by_video_id" url="/accounts/{account_id}/videos/{video_id}/sources"/>
            <read name="read_custom_fields" url="/accounts/{account_id}/video_fields"/>
            <read name="read_playlist_by_id" url="/accounts/{account_id}/playlists/{playlist_id}"/>

            <read name="read_videos" url="accounts/{account_id}/videos?limit={limit}%26offset={offset}%26q=state:ACTIVE"/>
            <read name="read_playlists" url="/accounts/{account_id}/playlists?limit={limit}%26offset={offset}"/>
          </requests>
        </requestProvider>

      </service>

      <service name="mediaframework_brightcove_dynamic_ingest" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://ingest.api.brightcove.com/v1</baseUrl>

        <jsonSerializer type="Brightcove.MediaFramework.Brightcove.Serialization.JsonNetSerializer, Brightcove.MediaFramework.Brightcove"/>

        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <create name="ingest"  url="/accounts/{account_id}/videos/{video_id}/ingest-requests" method="POST" />
          </requests>
        </requestProvider>

      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>