<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:Brightcove" type="Sitecore.MediaFramework.Commands.ImportContent,Sitecore.MediaFramework"/>
      <command name="mediaFramework:ManualCleanup:Brightcove" type="Sitecore.MediaFramework.Commands.CleanupContent,Sitecore.MediaFramework"/>
    </commands>

    <mediaFramework>
      <synchronizers>
        <add name="brightcove_tag"
             entity="Brightcove.MediaFramework.Brightcove.Entities.Tag, Brightcove.MediaFramework.Brightcove"
             templateId="{1F5CF62D-DEDC-4712-A8B6-CCC36E27A3F8}"
             type="Brightcove.MediaFramework.Brightcove.Synchronize.TagSynchronizer, Brightcove.MediaFramework.Brightcove">
          <entityCreator type="Brightcove.MediaFramework.Brightcove.Synchronize.EntityCreators.TagEntityCreator, Brightcove.MediaFramework.Brightcove"/>
          <databaseFallback type="Brightcove.MediaFramework.Brightcove.Synchronize.Fallback.TagFallback, Brightcove.MediaFramework.Brightcove"/>
        </add>
        <add name="brightcove_video"
             entity="Brightcove.MediaFramework.Brightcove.Entities.Video, Brightcove.MediaFramework.Brightcove"
             templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}"
             type="Brightcove.MediaFramework.Brightcove.Synchronize.VideoSynchronizer, Brightcove.MediaFramework.Brightcove">
          <entityCreator type="Brightcove.MediaFramework.Brightcove.Synchronize.EntityCreators.VideoEntityCreator, Brightcove.MediaFramework.Brightcove"/>
          <databaseFallback type="Brightcove.MediaFramework.Brightcove.Synchronize.Fallback.VideoFallback, Brightcove.MediaFramework.Brightcove"/>
          <references hint="raw:AddReference">
            <tags type="Brightcove.MediaFramework.Brightcove.Synchronize.References.VideoTagsSynchronizer, Brightcove.MediaFramework.Brightcove">
              <field>{23250E7A-1548-4D0E-8870-957535235EE4}</field>
            </tags>
          </references>
        </add>
        <add name="brightcove_playlist"
             entity="Brightcove.MediaFramework.Brightcove.Entities.PlayList, Brightcove.MediaFramework.Brightcove"
             templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}"
             type="Brightcove.MediaFramework.Brightcove.Synchronize.PlayListSynchronizer, Brightcove.MediaFramework.Brightcove">
          <entityCreator type="Brightcove.MediaFramework.Brightcove.Synchronize.EntityCreators.PlayListEntityCreator, Brightcove.MediaFramework.Brightcove"/>
          <databaseFallback type="Brightcove.MediaFramework.Brightcove.Synchronize.Fallback.PlayListFallback, Brightcove.MediaFramework.Brightcove"/>
          <references hint="raw:AddReference">
            <filterTags type="Brightcove.MediaFramework.Brightcove.Synchronize.References.PlaylistFilterTagsSynchronizer, Brightcove.MediaFramework.Brightcove">
              <field>{C2B3AEB0-5CA9-4E2B-A75C-D9E5261BA0C1}</field>
            </filterTags>
            <videos type="Brightcove.MediaFramework.Brightcove.Synchronize.References.PlaylistVideoSynchronizer, Brightcove.MediaFramework.Brightcove">
              <field>{1526509E-D99A-48FB-8CCA-246B388B83FB}</field>
            </videos>
          </references>
        </add>

        <add name="brightcove_player_fake"
             entity="Brightcove.MediaFramework.Brightcove.Entities.Player, Brightcove.MediaFramework.Brightcove"
             templateId="{DE0F5BB5-1D51-41B2-BA4D-2C176C904BF3}"
             type="Brightcove.MediaFramework.Brightcove.Synchronize.FakePlayerSynchronizer, Brightcove.MediaFramework.Brightcove"/>
      </synchronizers>

      <mediaImport>
        <importExecuters>
          <add name="import_brightcove_tags" type="Brightcove.MediaFramework.Brightcove.Import.TagCollectionImporter, Brightcove.MediaFramework.Brightcove"/>
          <add name="import_brightcove_videos" type="Brightcove.MediaFramework.Brightcove.Import.VideoCollectionImporter, Brightcove.MediaFramework.Brightcove"/>
          <add name="import_brightcove_videos_force" type="Brightcove.MediaFramework.Brightcove.Import.VideoCollectionImporterForce, Brightcove.MediaFramework.Brightcove"/>
          <add name="import_brightcove_playlists" type="Brightcove.MediaFramework.Brightcove.Import.PlayListCollectionImporter, Brightcove.MediaFramework.Brightcove"/>
        </importExecuters>
      </mediaImport>

      <mediaExport>
        <exportExecuters>
          <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Brightcove.MediaFramework.Brightcove.Export.PlaylistExporter, Brightcove.MediaFramework.Brightcove">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{437A7D9F-7A50-4955-B3AE-583EBA5AD35A}</name>
              <shortDescription>{2AF799D0-C019-4518-B166-0513C37218E8}</shortDescription>
              <playlistType>{70059B46-11D1-45F3-B92E-45DF21AF8310}</playlistType>
              <tagInclusion>{878C3F5B-303E-4F38-B42E-98F107372440}</tagInclusion>
              <filterTags>{C2B3AEB0-5CA9-4E2B-A75C-D9E5261BA0C1}</filterTags>
              <videoIds>{1526509E-D99A-48FB-8CCA-246B388B83FB}</videoIds>
            </fieldsToInspect>
          </add>
          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Brightcove.MediaFramework.Brightcove.Export.VideoExporterWithInactivate, Brightcove.MediaFramework.Brightcove">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{437A7D9F-7A50-4955-B3AE-583EBA5AD35A}</name>
              <shortDescription>{2AF799D0-C019-4518-B166-0513C37218E8}</shortDescription>
              <longDescription>{42136A7A-FCA2-4F5F-836A-9EC2A0DA2534}</longDescription>
              <economics>{22579C0B-2BB7-47EB-AE54-39CC8D9899C5}</economics>
              <tags>{23250E7A-1548-4D0E-8870-957535235EE4}</tags>
              <customFields>{1CE3B5F5-FCEF-49C4-88D4-F5FB335E1C74}</customFields>
            </fieldsToInspect>
          </add>
          <!--
            If you want to remove video instead of inactivate:
          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Brightcove.MediaFramework.Brightcove.Export.VideoExporterWithDelete, Brightcove.MediaFramework.Brightcove">
            <deleteParams>cascade=true|delete_shares=true</deleteParams>
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{437A7D9F-7A50-4955-B3AE-583EBA5AD35A}</name>
              <shortDescription>{2AF799D0-C019-4518-B166-0513C37218E8}</shortDescription>
              <longDescription>{42136A7A-FCA2-4F5F-836A-9EC2A0DA2534}</longDescription>
              <economics>{22579C0B-2BB7-47EB-AE54-39CC8D9899C5}</economics>
              <tags>{23250E7A-1548-4D0E-8870-957535235EE4}</tags>
              <customFields>{1CE3B5F5-FCEF-49C4-88D4-F5FB335E1C74}</customFields>
            </fieldsToInspect>
          </add>
          -->
        </exportExecuters>
        <uploadExecuters>
          <add name="brightcove_video" accountTemplate="{C657F8EF-4916-447F-9255-483ED2EEC562}" type="Brightcove.MediaFramework.Brightcove.Upload.VideoUploader, Brightcove.MediaFramework.Brightcove">
            <extensions>mp4,m4v,avi,mkv,flv,mov,wmv,mpeg</extensions>
          </add>
        </uploadExecuters>
      </mediaExport>

      <mediaCleanup>
        <cleanupExecuters>
          <add name="cleanup_brightcove_videos" type="Brightcove.MediaFramework.Brightcove.Cleanup.VideoCleanupExecuter, Brightcove.MediaFramework.Brightcove">
            <indexName>sitecore_master_index</indexName>
            <importName>import_brightcove_videos</importName>
            <templates hint="list:AddTemplate">
              <id>{6A5C6835-6E11-4602-A11D-B626E9255397}</id>
            </templates>
          </add>
          <add name="cleanup_brightcove_playlists" type="Brightcove.MediaFramework.Brightcove.Cleanup.PlaylistCleanupExecuter, Brightcove.MediaFramework.Brightcove">
            <indexName>sitecore_master_index</indexName>
            <importName>import_brightcove_playlists</importName>
            <templates hint="list:AddTemplate">
              <id>{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}</id>
            </templates>
          </add>
        </cleanupExecuters>
        <cleanupLinks>
          <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
        </cleanupLinks>
      </mediaCleanup>

      <playerMarkupGenerators>
        <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Brightcove.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Brightcove.MediaFramework.Brightcove">
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/brightcove.js</analyticsScriptUrl>
          <scriptUrl>https://players.brightcove.net/{account_id}/{player_id}_default/index.min.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="data-embed" value="default"/>
          </parameters>
        </add>
        <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Brightcove.MediaFramework.Brightcove.Players.BrightcovePlayerMarkupGenerator,Brightcove.MediaFramework.Brightcove">
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/brightcove.js</analyticsScriptUrl>
          <scriptUrl>https://players.brightcove.net/{account_id}/{player_id}_default/index.min.js</scriptUrl>
          <parameters hint="raw:AddParameter">
            <param name="data-embed" value="default"/>
          </parameters>
        </add>
      </playerMarkupGenerators>

      <scopeExecuteConfigurations>
        <add name="import_brightcove_videos" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
          </scope>
        </add>
        <add name="import_brightcove_videos_force" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos_force</name>
          </scope>
        </add>

        <add name="import_brightcove_playlists" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
            <name>import_brightcove_playlists</name>
          </scope>
        </add>

        <add name="import_brightcove_tags" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
          </scope>
        </add>

        <add name="import_brightcove_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>import_brightcove_tags</name>
            <name>import_brightcove_videos</name>
            <name>import_brightcove_playlists</name>
          </scope>
        </add>

        <add name="cleanup_brightcove_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{C657F8EF-4916-447F-9255-483ED2EEC562}</accountTemplate>
          <scope hint="list">
            <name>cleanup_brightcove_videos</name>
            <name>cleanup_brightcove_playlists</name>
          </scope>
        </add>

      </scopeExecuteConfigurations>

      <playerEventsTriggers>
        <add name="brightcove_video" templateId="{6A5C6835-6E11-4602-A11D-B626E9255397}" type="Brightcove.MediaFramework.Brightcove.Analytics.VideoEventTrigger,Brightcove.MediaFramework.Brightcove" />
        <add name="brightcove_playlist" templateId="{0E24292F-D7A5-4BA2-BCA0-CD5F14A89634}" type="Brightcove.MediaFramework.Brightcove.Analytics.PlaylistEventTrigger,Brightcove.MediaFramework.Brightcove" />
      </playerEventsTriggers>

    </mediaFramework>

    <scheduling>
      <agent name="MediaFramework_Import_Brightcove" type="Sitecore.MediaFramework.Schedulers.ImportScheduler, Sitecore.MediaFramework" interval="04:00:00">
        <param desc="database">master</param>
        <param desc="userName">sitecore\admin</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='import_brightcove_content'][1]"/>
        </scopeConfigurations>
      </agent>

      <agent name="MediaFramework_Cleanup_Brightcove" type="Sitecore.MediaFramework.Schedulers.CleanupScheduler, Sitecore.MediaFramework" interval="08:00:00">
        <param desc="database">master</param>
        <param desc="userName">sitecore\admin</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='cleanup_brightcove_content'][1]"/>
        </scopeConfigurations>
      </agent>
    </scheduling>
  </sitecore>
</configuration>