<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{1E738BAF-E7F5-401C-B025-0E4E87C6634F}" type="Sitecore.MediaFramework.Dimensions.ByStreamedVideo, Sitecore.MediaFramework" />
		</dimensions>
	  </aggregation>
	  </experienceAnalytics>
	  
    <clientscripts>
      <htmleditor>
        <script  src="/sitecore/shell/Controls/Rich Text Editor/MF RichText Commands.js" language="javascript"/>
      </htmleditor>
    </clientscripts>
    
    <mediaFramework>
      <accountManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Account.AccountProvider, Sitecore.MediaFramework"/>
        </providers>
      </accountManager>
      <importManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Import.ImportProvider, Sitecore.MediaFramework"/>
        </providers>
      </importManager>
      <exportQueueManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Export.InMemoryExportQueue, Sitecore.MediaFramework"/>
        </providers>
      </exportQueueManager>
      <scopeManager defaultProvider="default">
        <providers> 
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Scopes.ScopeProvider, Sitecore.MediaFramework"/>
        </providers>
      </scopeManager>
      <playerManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Players.PlayerProvider, Sitecore.MediaFramework"/>
        </providers>
      </playerManager>
      <uploadManager defaultProvider="default">
        <providers>
          <clear/>
          <add name="default" type="Sitecore.MediaFramework.Upload.UploadProvider, Sitecore.MediaFramework"/>
        </providers>
      </uploadManager>

      <migrationManager>
        <providers>
          <clear/>
          <add name="mfVersion12" type="Sitecore.MediaFramework.Migration.MigrationProvider, Sitecore.MediaFramework.Migration">
            <migrators hint="raw:AddMigrator">
              <add type="Sitecore.MediaFramework.Migration.Version12.EmbedHtmlMigrator, Sitecore.MediaFramework.Migration">
                <param desc="helper" type="Sitecore.MediaFramework.Migration.Common.MigrationHelper, Sitecore.MediaFramework.Migration"/>
              </add>
              <add type="Sitecore.MediaFramework.Migration.Version12.EmbedLinkMigrator, Sitecore.MediaFramework.Migration">
                <param desc="helper" type="Sitecore.MediaFramework.Migration.Common.MigrationHelper, Sitecore.MediaFramework.Migration"/>
              </add>
              <add type="Sitecore.MediaFramework.Migration.Version12.RenderingsMigrator, Sitecore.MediaFramework.Migration">
                <param desc="helper" type="Sitecore.MediaFramework.Migration.Common.MigrationHelper, Sitecore.MediaFramework.Migration"/>
              </add>
            </migrators>
          </add>

          <add name="mfVersion12_account" type="Sitecore.MediaFramework.Migration.AccountMigrationProvider, Sitecore.MediaFramework.Migration">
            <migrators hint="raw:AddMigrator">
              <add type="Sitecore.MediaFramework.Migration.Version12.AccountContentMigrator, Sitecore.MediaFramework.Migration">
                <param desc="helper" type="Sitecore.MediaFramework.Migration.Common.MigrationHelper, Sitecore.MediaFramework.Migration"/>
              </add>
            </migrators>
          </add>
        </providers>
      </migrationManager>
    </mediaFramework>
    
    <pipelines>
      <renderLayout>
        <processor type="Sitecore.MediaFramework.Pipelines.RenderLayout.InsertHeadControls, Sitecore.MediaFramework">
          <filterSites hint="list:AddFilterSite">
            <site name="scheduler">scheduler</site>
            <site nane="publisher">publisher</site>
            <site name="modules_website">modules_website</site>
            <site name="modules_shell">modules_shell</site>
            <site name="shell">shell</site>
            <site name="speak">speak</site>
          </filterSites>
          <rootControlResolver type="Sitecore.MediaFramework.Pipelines.RenderLayout.TypedRootControlResolver, Sitecore.MediaFramework">
            <types hint="list:AddType">
              <head>System.Web.UI.HtmlControls.HtmlHead, System.Web</head>
              <form>System.Web.UI.HtmlControls.HtmlForm, System.Web</form>
            </types>
          </rootControlResolver>
          <jsFiles hint="list:AddJavascriptUrl">
            <file name="jquery">/sitecore/shell/Controls/Lib/jQuery/jquery.js</file>
            <!--<file name="jquery_draggable">/sitecore modules/Web/MediaFramework/js/jquery-ui-1.10.3.custom.draggable.min.js</file>-->
            <file name="jquery_fancybox">/sitecore modules/Web/MediaFramework/js/fancybox/jquery.fancybox-1.3.4.pack.js</file>
            <!--Enable "mouse-wheel" to navigate throught gallery items-->
            <!--<file name="jquery_mousewheel">/sitecore modules/Web/MediaFramework/js/fancybox/jquery.mousewheel-3.0.4.pack.js</file>-->
            <file name="mediaframework">/sitecore modules/Web/MediaFramework/js/mediaframework.js</file>
          </jsFiles>
          <css hint="list:AddCssUrl">
            <file name="jquery_fancybox">/sitecore modules/Web/MediaFramework/js/fancybox/jquery.fancybox-1.3.4.css</file>
          </css>
        </processor>
        <processor type="Sitecore.MediaFramework.Pipelines.RenderLayout.InsertItemId, Sitecore.MediaFramework">
          <filterSites hint="list:AddFilterSite">
            <site name="scheduler">scheduler</site>
            <site nane="publisher">publisher</site>
            <site name="modules_website">modules_website</site>
            <site name="modules_shell">modules_shell</site>
            <site name="shell">shell</site>
            <site name="speak">speak</site>
          </filterSites>
          <rootControlResolver type="Sitecore.MediaFramework.Pipelines.RenderLayout.TypedRootControlResolver, Sitecore.MediaFramework">
            <types hint="list:AddType">
              <form>System.Web.UI.HtmlControls.HtmlForm, System.Web</form>
            </types>
          </rootControlResolver>
        </processor>
      </renderLayout>

      <getContentEditorWarnings>
        <processor type="Sitecore.MediaFramework.Pipelines.GetContentEditorWarnings.NotExported, Sitecore.MediaFramework"/>
      </getContentEditorWarnings>

      <buckets.dialogSearchFilters>
        <processor type="Sitecore.MediaFramework.Pipelines.Buckets.DialogSearchFilters.MediaFrameworkSearchFilters, Sitecore.MediaFramework"/>
      </buckets.dialogSearchFilters>

      <initialize>
        <processor type="Sitecore.MediaFramework.Pipelines.Initialize.InitializeContext, Sitecore.MediaFramework" />
      </initialize>
      
      <mediaFramework.mediaSyncImport>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.GetData, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.CallItemImport, Sitecore.MediaFramework" />
      </mediaFramework.mediaSyncImport>

      <mediaFramework.mediaSyncItemImport>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.MediaSyncItemImport.IndexSearch, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.MediaSyncItemImport.DatabaseFallback, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.MediaSyncItemImport.CreateItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.MediaSyncItemImport.UpdateItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaSyncImport.MediaSyncItemImport.SyncReferences, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.Common.JobStatus, Sitecore.MediaFramework" />
      </mediaFramework.mediaSyncItemImport>

      <mediaFramework.mediaExport>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaExport.ProcessQueue, Sitecore.MediaFramework" />
      </mediaFramework.mediaExport>

      <mediaFramework.mediaItemExport>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaExport.MediaItemExport.ExportItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.Common.JobStatus, Sitecore.MediaFramework" />
      </mediaFramework.mediaItemExport>

      <mediaFramework.mediaCleanup>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaCleanup.ResolveScope, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaCleanup.CallItemCleanup, Sitecore.MediaFramework" />
      </mediaFramework.mediaCleanup>

      <mediaFramework.mediaCleanupItem>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaCleanup.MediaCleanupItem.CleanupLinks, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaCleanup.MediaCleanupItem.RecycleItem, Sitecore.MediaFramework" />
        <!--<processor type="Sitecore.MediaFramework.Pipelines.MediaCleanup.MediaCleanupItem.DeleteItem, Sitecore.MediaFramework" />-->
        <processor type="Sitecore.MediaFramework.Pipelines.Common.JobStatus, Sitecore.MediaFramework" />
      </mediaFramework.mediaCleanupItem>

      <mediaFramework.mediaGenerateMarkup>
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.ResolveDatabase, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.ResolveMediaItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.ResolveMarkupGenerator, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.ResolveAccountItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.ResolvePlayerItem, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.GenerateMarkup, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.GetPlaybackEvents, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.MediaGenerateMarkup.RegisterPlaybackEventsScript, Sitecore.MediaFramework" />
      </mediaFramework.mediaGenerateMarkup>

      <!-- The Analytics pipelines. -->
      <mediaFramework.playerEvent>
        <processor type="Sitecore.MediaFramework.Pipelines.Analytics.ResolveEventTrigger, Sitecore.MediaFramework" />
        <processor type="Sitecore.MediaFramework.Pipelines.Analytics.TriggerDMSEvent, Sitecore.MediaFramework" />
      </mediaFramework.playerEvent>
      <!-- - - - - - - - - - - - -  -->
      <group groupName="analytics.aggregation">
        <pipelines>
          <interactions>
            <processor type="Sitecore.MediaFramework.Pipelines.AnalyticsAggregation.Interactions.MediaEventsAggregation, Sitecore.MediaFramework" />
          </interactions>
        </pipelines>
      </group>
    </pipelines>

    <commands>
      <command name="MediaFramework:EmbedMedia" type="Sitecore.MediaFramework.Commands.EmbedMedia,Sitecore.MediaFramework" />
      <command name="MediaFramework:Account:Create" type="Sitecore.MediaFramework.Commands.CreateAccount,Sitecore.MediaFramework" />
      <command name="MediaFramework:Entity:Create" type="Sitecore.MediaFramework.Commands.CreateEntityItem,Sitecore.MediaFramework" />
      <command name="MediaFramework:OpenUploader" type="Sitecore.MediaFramework.Commands.OpenUploader,Sitecore.MediaFramework" />
      <command name="MediaFramework:Export" type="Sitecore.MediaFramework.Commands.Export,Sitecore.MediaFramework" />
      <command name="MediaFramework:MediaPreview" type="Sitecore.MediaFramework.Commands.MediaPreview,Sitecore.MediaFramework" />
      <command name="MediaFramework:Migrate" type="Sitecore.MediaFramework.Migration.Commands.Migrate,Sitecore.MediaFramework.Migration" />
    </commands>

    <processors>
      <saveUI>
        <processor mode="on" type="Sitecore.MediaFramework.Pipelines.SaveUI.ExportItems,Sitecore.MediaFramework"/>
      </saveUI>

      <uiDeleteItems>
        <!-- Provide triggering and sending the delete export operations for services. -->
        <processor mode="on" type="Sitecore.MediaFramework.Pipelines.DeleteUI.ExportItems,Sitecore.MediaFramework" patch:before="*[@type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel' and @method='Execute']"/>
      </uiDeleteItems>

      <uiMoveItems>
        <processor mode="on" type="Sitecore.MediaFramework.Pipelines.MoveItemsUI.ExportItems,Sitecore.MediaFramework" method="Process" patch:after="*[@type='Sitecore.Shell.Framework.Pipelines.MoveItems,Sitecore.Kernel' and @method='Execute']"/>
      </uiMoveItems>

      <uiDragItemTo>
        <processor mode="on" type="Sitecore.MediaFramework.Pipelines.DragItemUI.ExportItems,Sitecore.MediaFramework" method="Process" patch:after="*[@type='Sitecore.Shell.Framework.Pipelines.DragItemTo,Sitecore.Kernel' and @method='Execute']"/>
      </uiDragItemTo>
    </processors>

    <settings>
      <setting name="Sitecore.MediaFramework.ExportDatabases" value="master" />
      <setting name="Sitecore.MediaFramework.ExportTimeout" value="20" />
      <setting name="Sitecore.MediaFramework.DefaultPlayerSize" value="400,300" />
      <setting name="Sitecore.MediaFramework.PreviewSize" value="600,400" />
      <setting name="Sitecore.MediaFramework.EnableMigration" value="false" />
      <setting name="Sitecore.MediaFramework.EnableDebug" value="true" />
    </settings>
  </sitecore>
</configuration>