<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Source\Sitecore-8.x-Media-Framework-2.x-Connector\src\Serialization" />
    <unicorn>
      <configurations>
        <configuration name="Brightcove.Serialization" description="Brightcove Sitecore items">
          <targetDataStore physicalRootPath="$(sourceFolder)" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Settings -->
            <include name="Brightcove.ContentEditor.Chunks" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Media Framework" />
            <include name="Brightcove.ContentEditor.Strips" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Media Framework" />
            <include name="Brightcove.ContentEditor.Menues" database="core" path="/sitecore/content/Applications/Content Editor/Menues/Media Framework" />
            <include name="Brightcove.MediaFramework.Applications" database="core" path="/sitecore/content/Applications/Media/MediaFramework" />
            <include name="Brightcove.Layout.CustomField" database="core" path="/sitecore/layout/Layouts/Media/Brightcove Custom Fields" >
              <exclude children="true" />
            </include>
            <include name="Brightcove.Layout.TextTracks" database="core" path="/sitecore/layout/Layouts/Media/Brightcove Text Tracks" >
              <exclude children="true" />
            </include>
            <include name="Brightcove.Template.Branches" database="master" path="/sitecore/templates/Branches/Media Framework" />
            <include name="Brightcove.Template" database="master" path="/sitecore/templates/MediaFramework" />
            <include name="Brightcove.Modules" database="master" path="/sitecore/system/Modules/Media Framework" />
            <include name="Brightcove.CommandRules" database="master" path="/sitecore/System/Settings/Rules/Command Rules" />
            <include name="Brightcove.InsertOptions" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/MediaFramework Brightcove">
              <exclude children="true" />
            </include>
            <!--Media Framework stuff-->
            <include name="Brightcove.MediaFramework.ToolbarOne" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full/Toolbar 1/Embed Link" />
            <include name="Brightcove.MediaFramework.ToolbarTwo" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full/Toolbar 1/Embed Media" />
            <include name="Brightcove.Placeholder.Settings" database="master" path="/sitecore/layout/Placeholder Settings/embedMedia" />
            <include name="Brightcove.Renderings" database="master" path="/sitecore/Layout/Renderings/Media Framework" />
            <include name="Brightcove.Sublayouts" database="master" path="/sitecore/layout/Sublayouts/Media Framework" />
            <include name="Brightcove.MediaLibrary" database="master" path="/sitecore/media library/Media Framework">
              <exclude childrenOfPath="Accounts" />
            </include>
            <include name="Brightcove.Dimensions" database="master" path="/sitecore/system/Marketing Control Panel/Experience Analytics/Dimensions/Visits/By streamed video" />
            <include name="Brightcove.PageEvents" database="master" path="/sitecore/system/Settings/Analytics/Page Events/Media Framework" />
            <include name="Brightcove.MediaPreview.Button" database="master" path="/sitecore/system/Settings/Buckets/Settings/Quick Actions/Media Preview" />

            <include name="Brightcove.Rules" database="master" path="/sitecore/system/Settings/Rules/MediaFramework" />
            <include name="Brightcove.Rules.Validation" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Media Framework" />
            <include name="Brightcove.Rules.ElementsOne" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Media Framework Analytics" />
            <include name="Brightcove.Rules.ElementsTwo" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Media Framework Command Rules" />
            <include name="Brightcove.Rules.ElementsThree" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Media Framework Common" />
            <include name="Brightcove.Rules.TagsOne" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Media Framework Analytics" />
            <include name="Brightcove.Rules.TagsTwo" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Media Framework Command Rules" />
            <include name="Brightcove.Rules.TagsThree" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Media Framework Common" />
            <include name="Brightcove.Rules.ClearCache" database="master" path="/sitecore/system/Settings/Rules/Item Saved/Rules/Clear Media Framework Rules Cache" />
            <include name="Brightcove.Rules.CommandState" database="master" path="/sitecore/templates/System/Rules/CommandStateRule" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>