<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="mediaframework_brightcove" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>http://api.brightcove.com/services</baseUrl>
       
        <jsonSerializer type="Sitecore.RestSharp.Serialization.JsonNetSerializer, Sitecore.RestSharp"/>

        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/x-json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/javascript" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <tokens hint="raw:AddTokenReplacer">
          <add name="timestamp" type="Sitecore.RestSharp.Tokens.UnixTimestampToken, Sitecore.RestSharp"/>
        </tokens>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <create name="update_data"  url="/post" method="POST" />
            <update name="update_data"  url="/post" method="POST" />
            <delete name="update_data"  url="/post" method="POST" />

            <read name="read_playlist_by_id" url="/library?command=find_playlist_by_id%26playlist_id={playlist_id}%26token={token}%26fields=id,name,referenceId,shortDescription,videoIds,playlistType,filterTags,thumbnailURL,{timestamp}"/>
            <read name="read_video_by_id" url="/library?command=find_video_by_id%26token={token}%26video_id={video_id}%26fields=id,name,referenceId,thumbnailURL,shortDescription,creationDate,longDescription,publishedDate,lastModifiedDate,economics,linkURL,linkText,tags,videoStillURL,length,playsTotal,playsTrailingWeek,itemState,customFields,{timestamp}"/>

            <read name="read_playlists" url="/library?command=find_all_playlists%26sort_by=PUBLISH_DATE%26sort_order=ASC%26page_number={page_number}%26get_item_count=true%26token={token}%26page_size=100%26fields=id,name,referenceId,shortDescription,videoIds,playlistType,filterTags,thumbnailURL,{timestamp}"/>
            <read name="read_tags" url="/library?command=find_all_videos%26media_delivery=default%26sort_by=PUBLISH_DATE%26sort_order=ASC%26page_number={page_number}%26get_item_count=true%26token={token}%26page_size=100%26fields=tags,{timestamp}"/>
            <read name="read_videos" url="/library?command=find_all_videos%26media_delivery=default%26sort_by=PUBLISH_DATE%26sort_order=ASC%26page_number={page_number}%26get_item_count=true%26token={token}%26page_size=100%26fields=id,name,referenceId,thumbnailURL,shortDescription,creationDate,longDescription,publishedDate,lastModifiedDate,economics,linkURL,linkText,tags,videoStillURL,length,playsTotal,playsTrailingWeek,itemState,customFields,{timestamp}"/>
          </requests>
        </requestProvider>
      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>