<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!-- Initializing Experience Analytics Web API -->
        <processor patch:after="processor[@type='Sitecore.ExperienceAnalytics.Api.Pipelines.Initialize.WebApiInitializer, Sitecore.ExperienceAnalytics']" type="Sitecore.MediaFramework.Pipelines.Initialize.WebApiInitializer, Sitecore.MediaFramework" />
      </initialize>
    </pipelines>

    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <reportsController>Sitecore.MediaFramework.Analytics.Dashboard.MFReportsController, Sitecore.MediaFramework</reportsController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>